.square {
            width: 10rem;
            height: 10rem;
            background-color: #85aa74;
            margin: 10px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 5rem;
        }
.center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
body {
            background-image: url("img/back.jpg");
            background-size: cover;
        }


.square-text {
            font-size: 2.2rem;
        }
.play {
            width: 8rem;
            height: 8rem;
            background-color: #b54444;
            margin: 0.8rem;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 5rem;
            border-radius: 0.8rem;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}